<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>⚡ trendstorm ⚡</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header>
        <nav>
            <img src="img/logo.svg">
            <ul>
                <a href="#"><li>Sobre a ferramenta</li></a>
                <a href="#"><li>Cadastrar</li></a>
                <a href="#"><li>Entrar</li></a>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>