@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400');

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
}

body {
    background-image: linear-gradient(to bottom right, #111111, #333333);
}

nav {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 10px;
    border: 1px solid #eeeeee;
    padding: 10px;
    border-radius: 15px;
}

nav ul li:hover {
    background-image: linear-gradient(to bottom right, #ffffff, #cccccc);
    color: #111111;
}

nav img {
    width: 20%;
}
